#!/bin/bash

now=$(date +"%Y%m%d_%H%M")
backup_dir=/root/wordpress_backup

docker container stop wordpress
docker container stop redis
docker container stop nginx

mkdir -p $backup_dir
mkdir tmp

cp -r /root/wordpress_data ./tmp
cp -r /root/certs ./tmp

mysqldump -h 127.0.0.1 -u root -pasdf0000 wordpress >./tmp/wordpress_db_$now.sql

tar -czvf $now.tar.gz ./tmp/*
rm -rf ./tmp

chmod 777 $now.tar.gz
mv $now.tar.gz $backup_dir

find $backup_dir -name "*.gz" -type f -mtime +14 -delete

docker container restart redis
docker container restart wordpress
docker container restart nginx
