-----BEGIN CERTIFICATE-----
MIIEpjCCA46gAwIBAgIUXzXr5HWxIxmhgjr0z0sOkESj/RYwDQYJKoZIhvcNAQEL
BQAwgYsxCzAJBgNVBAYTAlVTMRkwFwYDVQQKExBDbG91ZEZsYXJlLCBJbmMuMTQw
MgYDVQQLEytDbG91ZEZsYXJlIE9yaWdpbiBTU0wgQ2VydGlmaWNhdGUgQXV0aG9y
aXR5MRYwFAYDVQQHEw1TYW4gRnJhbmNpc2NvMRMwEQYDVQQIEwpDYWxpZm9ybmlh
MB4XDTIzMTAwNTE2NTQwMFoXDTM4MTAwMTE2NTQwMFowYjEZMBcGA1UEChMQQ2xv
dWRGbGFyZSwgSW5jLjEdMBsGA1UECxMUQ2xvdWRGbGFyZSBPcmlnaW4gQ0ExJjAk
BgNVBAMTHUNsb3VkRmxhcmUgT3JpZ2luIENlcnRpZmljYXRlMIIBIjANBgkqhkiG
9w0BAQEFAAOCAQ8AMIIBCgKCAQEA4Bc04OXXNTIpktwlu0B4C6Z2vWibDWNg1VOZ
wET7yppKyTJEE9RyO6LR9oyeT/+BktD8BPfhqfy6/mGvdpnDNFiIhUNpOzpKa69l
/rC0zsQ0Bpfpc5Rjlw/uI/2XaMXFZW+qP/L78InKkfAUAiqOmbn39FC2xIXsArw5
c8PJa1Hk4TRCpRMgckw0494ksRslgz9pYnSRgvlvXSHPlK3hCb/p1OYMWCqsuuC6
dS90dBOUf4Lo6TIbAzjHbJzuzjRafrKl9Cz0jvtFh9RBgs9915r91qaaMn46sY9Y
twfJ2pcZXnGAzCduVBslmmAo/23pBeBfluFiwA+cDEAsbaDMUwIDAQABo4IBKDCC
ASQwDgYDVR0PAQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMCBggrBgEFBQcD
ATAMBgNVHRMBAf8EAjAAMB0GA1UdDgQWBBQy2yUHJCsaq6ZGJVs+66h1GrvhbDAf
BgNVHSMEGDAWgBQk6FNXXXw0QIep65TbuuEWePwppDBABggrBgEFBQcBAQQ0MDIw
MAYIKwYBBQUHMAGGJGh0dHA6Ly9vY3NwLmNsb3VkZmxhcmUuY29tL29yaWdpbl9j
YTApBgNVHREEIjAggg8qLnRvY2FuZHJhdy5jb22CDXRvY2FuZHJhdy5jb20wOAYD
VR0fBDEwLzAtoCugKYYnaHR0cDovL2NybC5jbG91ZGZsYXJlLmNvbS9vcmlnaW5f
Y2EuY3JsMA0GCSqGSIb3DQEBCwUAA4IBAQBKU/lvvAxBaOYSLRd2jH5Vj8W1f9u1
CKSx3PTZ8/NW/g9HEKJpcEtP3tP6H2WQwb7iMjKvlcjXvWxMPl0dwnZYzjKvJV4Q
gmeWp2OlwKl7Q75W3MBjhwx1ZN1pNOBdOqAhJ26biCKubgSg413WsfdMpB5UyYTH
p6nz+k7m6Ovp5fOWsYN4QfpNqvDyUGl6KvFLqzzy23VjCxT2UWRnFhrSekmSjbcW
KFY5cdw/QMSfWCMLqM/domYqy1c5C8u8NkjrW12ToMoCeApy6wgYlY7cjpViRBlb
V91lG3vJo2QqJ+Sy8dN4vRhFxsOYe/PfPZoIj7oIoARkbJWO348sY/iq
-----END CERTIFICATE-----
