{
    "log-driver": "loki",
    "log-opts": {
        "loki-url": "http://{{ ip_loki }}:3100/loki/api/v1/push",
        "max-size": "10m",
        "max-file": "10"
    },
    "iptables": false,
    "bridge": "none"
}
