{
    "type": "{{ gcloud.type }}",
    "project_id": "{{ gcloud.project_id }}",
    "private_key_id": "{{ gcloud.private_key_id }}",
    "private_key": "{{ gcloud.private_key }}",
    "client_email": "{{ gcloud.client_email }}",
    "client_id": "{{ gcloud.client_id }}",
    "auth_uri": "{{ gcloud.auth_uri }}",
    "token_uri": "{{ gcloud.token_uri }}",
    "auth_provider_x509_cert_url": "{{ gcloud.auth_provider_x509_cert_url }}",
    "client_x509_cert_url": "{{ gcloud.client_x509_cert_url }}",
    "universe_domain": "{{ gcloud.universe_domain }}"
}
