HTTP=26670

LOG_LEVEL=info
LOG_FORMAT=text
LOG_NEED_CALLER=false

DISABLE_SWAGGER_HTTP_HANDLER=true
GIN_MODE=release

SINOPAC_URL={{ ip_trader_toc_sinopac_python }}:56666
SINOPAC_POOL_MAX=20
FUGLE_URL={{ ip_trader_toc_fugle_python }}:58888
FUGLE_POOL_MAX=20

DB_URL=postgres://{{ db_user }}:{{ db_password }}@{{ ip_center_postgres }}:5432/
DB_NAME=machine_trade
DB_POOL_MAX=80

RABBITMQ_URL=amqp://{{ rabbitmq_user }}:{{ rabbitmq_password }}@{{ ip_trader_rabbitmq }}:5672/%2f
RABBITMQ_EXCHANGE=toc
RABBITMQ_WAIT_TIME=5
RABBITMQ_ATTEMPTS=10

SLACK_TOKEN={{ mt_config.slack_token }}
SLACK_CHANNEL_ID={{ mt_config.slack_channel_id }}
SLACK_LOG_LEVEL={{ mt_config.slack_log_level }}
