Simulation: {{ MachineTradingConfig.Simulation }}
ManualTrade: {{ MachineTradingConfig.ManualTrade }}

TradeStock:
    AllowTrade: {{ MachineTradingConfig.TradeStock.AllowTrade }}
    Odd: {{ MachineTradingConfig.TradeStock.Odd }}

    # unit: second
    HoldTimeFromOpen: {{ MachineTradingConfig.TradeStock.HoldTimeFromOpen }}
    TradeInWaitTime: {{ MachineTradingConfig.TradeStock.TradeInWaitTime }}
    TradeOutWaitTime: {{ MachineTradingConfig.TradeStock.TradeOutWaitTime }}
    CancelWaitTime: {{ MachineTradingConfig.TradeStock.CancelWaitTime }}

    # unit: minute
    TotalOpenTime: {{ MachineTradingConfig.TradeStock.TotalOpenTime }}
    TradeInEndTime: {{ MachineTradingConfig.TradeStock.TradeInEndTime }}

TradeFuture:
    AllowTrade: {{ MachineTradingConfig.TradeFuture.AllowTrade }}
    Quantity: {{ MachineTradingConfig.TradeFuture.Quantity }}

    # unit: dollar
    TargetBalanceHigh: {{ MachineTradingConfig.TradeFuture.TargetBalanceHigh }}
    TargetBalanceLow: {{ MachineTradingConfig.TradeFuture.TargetBalanceLow }}

    # unit: times
    TradeOutWaitTimes: {{ MachineTradingConfig.TradeFuture.TradeOutWaitTimes }}

    # unit: seccond
    BuySellWaitTime: {{ MachineTradingConfig.TradeFuture.BuySellWaitTime }}
    TickInterval: {{ MachineTradingConfig.TradeFuture.TickInterval }}

    # duration: minute
    TradeTimeRange:
        FirstPartDuration: {{ MachineTradingConfig.TradeFuture.TradeTimeRange.FirstPartDuration }}
        SecondPartDuration: {{ MachineTradingConfig.TradeFuture.TradeTimeRange.SecondPartDuration }}
    MaxHoldTime: {{ MachineTradingConfig.TradeFuture.MaxHoldTime }}

    # unit: volume/second
    RateLimit: {{ MachineTradingConfig.TradeFuture.RateLimit }}

    # unit: %
    RateChangeRatio: {{ MachineTradingConfig.TradeFuture.RateChangeRatio }}
    OutInRatio: {{ MachineTradingConfig.TradeFuture.OutInRatio }}
    InOutRatio: {{ MachineTradingConfig.TradeFuture.InOutRatio }}

History:
    # unit: day
    HistoryClosePeriod: 60
    HistoryTickPeriod: 10
    HistoryKbarPeriod: 60

Quota:
    StockTradeQuota: 1000000
    StockFeeDiscount: 0.28
    FutureTradeFee: 15

AnalyzeStock:
    # unit: minute
    MaxHoldTime: 60

    # unit: %
    CloseChangeRatioLow: -2
    CloseChangeRatioHigh: 2
    VolumePRLimit: 95
    AllOutInRatio: 75
    AllInOutRatio: 75

    # unit: millisecond
    TickAnalyzePeriod: 15000

    # unit: times
    RSIMinCount: 150

    # unit: day
    MAPeriod: 60
