LOG_FORMAT=console
GRPC_PORT=56666

PERSON_ID={{ sinopac_personal_id }}
CA_PASSWORD={{ sinopac_ca_password }}
API_KEY={{ sinopac_api_key }}
API_KEY_SECRET={{ sinopac_api_key_secret }}

REQUEST_DATA_LIMIT_PER_SECOND=10
REQUEST_PORTFOLIO_LIMIT_PER_SECOND=5
REQUEST_ORDER_LIMIT_PER_SECOND=50
CONNECTION_COUNT=3

RABBITMQ_EXCHANGE=toc
RABBITMQ_HOST=toc-rabbitmq
RABBITMQ_USER={{ rabbitmq_user }}
RABBITMQ_PASSWORD={{ rabbitmq_password }}
RABBITMQ_URL=amqp://{{ rabbitmq_user }}:{{ rabbitmq_password }}@toc-rabbitmq:5672/%2f?heartbeat=0
