GRPC_PORT=58888

LOG_FORMAT=text

RABBITMQ_EXCHANGE=toc-fugle
RABBITMQ_HOST={{ ip_rabbitmq }}
RABBITMQ_USER={{ rabbitmq_user }}
RABBITMQ_PASSWORD={{ rabbitmq_password }}
RABBITMQ_URL=amqp://{{ rabbitmq_user }}:{{ rabbitmq_password }}@{{ ip_rabbitmq }}:5672/%2f

API_KEY={{ fugle_api_key }}
API_SECRET={{ fugle_api_key_secret }}
API_USER={{ fugle_account }}
LOGIN_PASSWORD={{ fugle_login_password }}
CA_PASSWORD={{ fugle_ca_password }}
