simulation: {{ mt_config.simulation }}

trade_stock:
    allow_trade: {{ mt_config.trade_stock.allow_trade }}
    subscribe: {{ mt_config.trade_stock.subscribe }}

    # unit: second
    hold_time_from_open: {{ mt_config.trade_stock.hold_time_from_open }}
    trade_in_wait_time: {{ mt_config.trade_stock.trade_in_wait_time }}
    trade_out_wait_time: {{ mt_config.trade_stock.trade_out_wait_time }}
    cancel_wait_time: {{ mt_config.trade_stock.cancel_wait_time }}

    # unit: minute
    total_open_time: {{ mt_config.trade_stock.total_open_time }}
    trade_in_end_time: {{ mt_config.trade_stock.trade_in_end_time }}

trade_future:
    allow_trade: {{ mt_config.trade_future.allow_trade }}
    subscribe: {{ mt_config.trade_future.subscribe }}
    quantity: {{ mt_config.trade_future.quantity }}
    target_balance_high: {{ mt_config.trade_future.target_balance_high }}
    target_balance_low: {{ mt_config.trade_future.target_balance_low }}
    trade_out_wait_times: {{ mt_config.trade_future.trade_out_wait_times }}

    # unit: seccond
    buy_sell_wait_time: {{ mt_config.trade_future.buy_sell_wait_time }}
    tick_interval: {{ mt_config.trade_future.tick_interval }}

    # duration: minute
    trade_time_range:
        first_part_duration: {{ mt_config.trade_future.trade_time_range.first_part_duration }}
        second_part_duration: {{ mt_config.trade_future.trade_time_range.second_part_duration }}
    max_hold_time: {{ mt_config.trade_future.max_hold_time }}

    # unit: %
    rate_limit: {{ mt_config.trade_future.rate_limit }}
    rate_change_ratio: {{ mt_config.trade_future.rate_change_ratio }}
    out_in_ratio: {{ mt_config.trade_future.out_in_ratio }}
    in_out_ratio: {{ mt_config.trade_future.in_out_ratio }}

history:
    # unit: day
    history_close_period: 65
    history_tick_period: 12
    history_kbar_period: 65

quota:
    stock_trade_quota: 1000000
    stock_fee_discount: 0.28
    future_trade_fee: 15

target_stock:
    real_time_rank: 20
    black_category:
        - 17
    black_stock:
        - 2317
        - 1314
        - 3481
        - 2412
        - 2002
        - 1102
    limit_volume: 1000
    price_limit:
        - low: 10
          high: 35

analyze_stock:
    # unit: minute
    max_hold_time: 60

    # unit: %
    close_change_ratio_low: -2
    close_change_ratio_high: 2
    volume_pr_limit: 95
    all_out_in_ratio: 75
    all_in_out_ratio: 75

    # unit: millisecond
    tick_analyze_period: 15000

    # unit: times
    rsi_min_count: 150

    # unit: day
    ma_period: 60
