HTTP=26670

LOG_LEVEL=info
LOG_FORMAT=text
LOG_NEED_CALLER=false
LOG_TIME_FORMAT=
LOG_LINK_SLACK=false
LOG_DISABLE_CONSOLE=false
LOG_DISABLE_FILE=true

SINOPAC_URL=toc-sinopac-python:56666
SINOPAC_POOL_MAX=20

DB_URL=postgres://{{ db_user }}:{{ db_password }}@{{ ip_center }}:5432/
DB_NAME=machine_trade
DB_POOL_MAX=80

RABBITMQ_URL=amqp://{{ rabbitmq_user }}:{{ rabbitmq_password }}@toc-rabbitmq:5672/%2F?heartbeat=0
RABBITMQ_EXCHANGE=toc
RABBITMQ_WAIT_TIME=5
RABBITMQ_ATTEMPTS=10

SLACK_TOKEN={{ slack_token }}
SLACK_CHANNEL_ID={{ slack_channel_id }}
SLACK_LOG_LEVEL={{ slack_log_level }}

SMTP_HOST={{ smtp_host }}
SMTP_PORT={{ smtp_port }}
SMTP_USERNAME={{ smtp_user }}
SMTP_PASSWORD={{ smtp_password }}
